{% extends 'base.html' %} 

{% load static %} 

{% block title %}My Scheduling_bot.html{% endblock %} 


{% block content %}
		<iframe allow="microphone;" width="550" height="830"
		src="https://console.dialogflow.com/api-client/demo/embedded/2d5dd87f-7a13-4c71-b8af-554af6339f28">
		</iframe>

{% endblock content %} 

{% block footer %}
<footer class="fixed-bottom btn-outline-danger">
	<div class="text-danger font-italic text-right mr-5">Copyright
		&copy; 2021 My Scheduling_bot by LSY</div>
</footer>
{% endblock %}

