@charset "UTF-8";

/* 메인 콘텐츠 */
section#main {
	width: 1200px; /* 990에서 1200으로 변경, 더 편리하게 컨텐츠를 넣기 위해서 */
	/* margin: auto; */  
	margin : 10px auto 10px; /* 왼쪽과 오른쪽 여백이 자꾸 안맞는 증상 때문에 마진 오토+양옆 10px */
}

/* 좌측 카테고리 + 메인 이미지 + 공지사항/주간이벤트 */
section#cat1 {
	height : 500px; /* cat2와의 높이를 맞춰주기 위해 500px으로 */
	width: 225px;  /* 기존 215값에서 225로 변경 */
	float: left;
	margin-top: 53px; /* 15px으로 지정하니 자꾸 메뉴와 붙으려해서 53px로 지정, 아마 cat끼리의 margin-top은 같아야할듯 */
	font-weight: bold;
	
	
	
	
	/* border:solid 1px #0000ff; */ /* 각 세션이 어느위치에 제대로 들어가고 있는지 보기 위해서 border속성을 이용하였음 */

}

section#cat1 #cat_title {
	padding: 12px;
	background-color: #96c11f;
	color: #ffffff;
	text-align: center;
}

section#cat1 li {
	color: #666666;
	padding: 7px 0 7px 30px;
	border-bottom: solid 1px #cccccc;
}

section#cat2 {
	float: left;
	margin-top: 15px
	
}

/* carousel 테스트중 */
/* 넓이는 조종되지만, height값은 조종되지 않고 있음 */
section#cat22 {
	
	width:750px; /* carousel을 넣기위해 750px로 고정 */
	height:500px; 
	float : left; 
	margin-top:53px;
	
	
	
	
	
	
	/* border:solid 1px #0000ff; */

}

section#cat3 {
	width: 225px; /* 기존 236에서 225로 변경 */
	float: left; 
	margin-top: 53px;
	height:500px;
	
	
	
	/* border:solid 1px #0000ff; */
		
}

section#cat3 #latest_notice {
	width: 239px;
	height: 161px;
	/*  background-image:url(""); notice를 그림으로했네? 
	background-repeat:no-repeat; */
	
	
	
	
	
	
}

section#cat3 #latest_notice ul {
	padding: 42px 0 0 30px;
	/* 	list-style-image:url 이것도 그림으로 했네?*/
}

section#cat3 #week_event {
	width: 239px;
	height: 191px;
	margin-top: 11px;
	/* background-image:url("");
	background-repeat:no-repeat; 여기는 그림으로 해도 괜찮을듯 상품이라*/
}

section#cat3 #week_event img {
	width: 225px;
	height: 235px;
}


/* 굳이 마진을 안줘도 되는것 같아서 일단 주석처리 */
/* section#cat3 #week_event img {
	margin: 58px 0 0 22px;
} */







/* cat1과의 통일성을 위해 같은 디자인값으로 설정 */
section#cat3 #cat_notice {
	font-weight: bold;
	padding: 12px;
	background-color: #86bee2;
	color: #ffffff;
	text-align: center;
}

section#cat3 li {
	color: #666666;
	padding: 7px 0 7px 30px;
	border-bottom: solid 1px #cccccc;
}










/* 메인 콘텐츠 */
section#shopping {
	width: 1200px; /* 990에서 1200으로 변경, 더 편리하게 컨텐츠를 넣기 위해서 */
	/* margin: auto; */  
	margin : auto; /* 왼쪽과 오른쪽 여백이 자꾸 안맞는 증상 때문에 마진 오토 */
}





/* 스페셜 샵(special shop) */
section#special_shop {
	width: 1200px;
	height: 389px;
	margin: 20px 0 80px 0;
	float: left;
	/* border:solid 1px #0000ff; */
}

section#special_shop ul {
	margin: 3px; /* special_shop 세션안에 margin이 불균형하게 있으면 균형하게 그림이 세션에 들어가지 않음. 그래서 같은 값을 주었음 */
	
}

section#special_shop li {
	display: inline;
	margin: 0 2px;
}

section#special_shop img {
	padding: 10px;
	/* border: solid 1px #cccccc; */
	width: 290px; /* special_shop 세션안에 맞게 들어가려면 두 그림이 289px일때 맞게 들어감, 이 값은 향후 변경될 수도 있음 */
	height: 380px; /* 위의 width와 같은 이유로 height 값을 주었음 */
	border-radius: 30px;
}

section#special_shop h3{
	margin-top: 20px;
}

section#special_shop h3 span {
	color: #80a727;
}

section#special_banner {
	float: left;
	margin: 19px 0 30px 5px;
	width: 590px;
}

section#special_banner div {
	width: 590px;
	height: 129px;
	margin-top: 1px;
	border:solid 1px #0000ff;
}

/* 스페셜 샵 우측의 배너 3개 */
section#special_banner #banner1 {
	/* background-image:url("");
	background-repeat:no-repeat; 이미지로 처리했음*/
	
}

section#special_banner #banner2 {
	/* background-image:url("");
	background-repeat:no-repeat; 이미지로 처리했음*/
	
}

section#special_banner #banner3 {
	/* background-image:url("");
	background-repeat:no-repeat; 이미지로 처리했음*/
	
}

section#special_banner ul {
	padding: 6px 0 0 132px;
}

section#special_banner li {
	display: inline;
}

section#new {
	height: auto; /* 페이지 내용이 늘어날때마다 자동으로 높이값을 주기 위해 650px에서 auto로 설정하였슴 */
	margin-top: 20px;
	border-top: solid 2px #9bc32a;
}

section#new h3 {
	margin-top: 20px;
}

section#new h3 span {
	color: #80a727;
}

section#new .item {
	float: left;
	text-align: center;
	margin: 20px 0 0 36px;
	
	width:251px;
	/* border:solid 1px #0000ff; */
	
}

section#new .item img{
	width:251px;
	height:300px;
	border-radius:30px;
}

section#new .item .subject {
	font-size:16px;
	margin-top: 10px;
	color: #80a727;
	font-weight: bold;
}

section#new .item .comment {
	margin-top: 5px;
	color: #fb8147;
}

section #new .item .price {
	text-decoration:line-through;
	text-decoration-color:black;
	color: #a3a3a3;
	font-weight:bold;
	margin-top:5px;
}

section#new #realPrice {
	color:#cc290e;
	font-weight:800;
	font-size:18px;
}



html {
	position:relative;
}







