{% extends "base.html" %}

{% block title %}bookmark_list.html{% endblock %}
{% block extra-style %}
    <style>
        * {
            font-family: "Bitstream Vera Sans Mono";
            color: rgb(0, 151, 167);
            font-style: italic;
        }
    </style>
{% endblock extra-style %}
{% block content %}

    <h1>맛집 List</h1>
    <br>

    <ul>
        {% for bookmark in object_list %}
        <li><a href="{% url 'bookmark:detail' bookmark.id %}">{{ bookmark }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}

